html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: whitesmoke;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 1.5rem;
}

.text-container {
    width: 800px;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    line-height: 2rem;
    white-space: nowrap;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    cursor: none;
}

.timer {
    margin: 10px;
    font-size: 1.2rem;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    background: rgb(43, 43, 43);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    display: none;
}

button:hover {
    filter: brightness(1.2);
}

span {
    min-width: 14px;
}

.correct {
    color: green;
}

.error {
    color: red;
}
